<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {{>headerLinks}}
    <title>Hello, world!</title>
</head>

<body>

    
{{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">

           
                <!-- left side div -->

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather app</p>
                    <h1>Get The Latest <span class="text-color">Weather</span> Info Of Your City</h1>
                    <a href="/weather"><button>Check now</button></a>
                </div>
                <!-- right side div -->

                <div class="col-md-6 col-12 main_header_right">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="images/bck1.png" width="200px" height="200px" class=" w-100" alt="First Slide">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="images/bck2.png" width="400px" height="400px" class=" w-100" alt="Second Slide">
                            </div>
                            <div class="carousel-item">
                                <img src="images/bck3.png" width="400px" height="400px" class=" w-100" alt="Third Slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            
        </div>
    </div>

    <!-- footer  -->

    {{>footer}}



{{>footerLinks}}
 
</body>

</html>